<div>
  <h1><%= @todo.title %></h1>
  <p><strong>Status:</strong> <%= @todo.completed ? "â˜‘ Completed" : "â˜ Incomplete" %></p>
  <%= simple_format(@todo.description) %>
  <div class="btn-group" role="group" aria-label="Todo actions">
    <%= link_to "Go Back", todos_path, class: "btn btn-outline-secondary" %>
    <%= link_to "Edit", edit_todo_path(@todo), class: "btn btn-outline-primary" %>
  </div>
</div>
