<!-- TODO: Display the details of a single todo with links to edit and go back -->
<div>
    <h1><%= @todo.title %></h1>
    <h2><%= @todo.completed ? "Completed" : "Incomplete" %></h2>
    <p><%= @todo.description %></p>
    <%= link_to "Edit", edit_todo_path(@todo)%>
    <%= link_to "Go Back", todos_path %>
</div>