<div>
  <h1><%= @todo.title %></h1>
  <h2><%= @todo.completed ? "Completed" : "Incomplete" %></h2>
  <%= simple_format @todo.description %>
  <%= link_to "Edit", edit_todo_path(@todo) %>
  <%= link_to "Go Back", todos_path %>
</div>
