<div>
  <h1><%= @todo.title %></h1>
  <p><strong>Status:</strong> <%= @todo.completed ? "Completed" : "Incomplete" %></p>
  <%= simple_format @todo.description %>
  <div class="btn-group" role="group" aria-label="Todo actions">
    <%= link_to "Go Back", todos_path, class: "btn btn-secondary" %>
    <%= link_to "Edit", edit_todo_path(@todo), class: "btn btn-primary" %>
  </div>
</div>
